/*Responsive*/
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .logo {
    margin-left: 30px;
    max-width: 70% !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  #bgatas {
    padding-left: 0px !important; }

  #bgataskanan {
    left: -30px; }

  .bgataskiri {
    max-width: 90%; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #locpin {
    font-size: 16px !important;
    margin-top: 2px !important; }

  #loc {
    font-size: 10pt !important;
    margin-top: 5px !important;
    text-align: left; }

  #kelebihan {
    height: 500px !important; }

  #kelebihankami {
    margin-top: 30px !important; }

  .ui.segment {
    min-height: 143px; }

  .ui.image {
    display: none !important; }

  #sectionpartner {
    height: 1000px; }

  #partnerdesc {
    width: 100%; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .logo {
    margin-left: 10px;
    max-width: 70% !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  #bgatas {
    padding-left: 0px !important; }

  #bgataskanan {
    left: -30px; }

  .bgataskiri {
    max-width: 90%; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #locpin {
    font-size: 16px !important;
    margin-top: 2px !important; }

  #loc {
    font-size: 10pt !important;
    margin-top: 5px !important;
    text-align: left; }

  #partnerdesc {
    width: 100%; }

  #sectionkelebihan {
    height: 1000px; }

  #kelebihan {
    height: 500px !important; }

  #kelebihankami {
    margin-top: 30px !important; }

  .ui.segment {
    min-height: 143px; }

  .ui.image {
    display: none !important; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 376px) and (max-device-width: 414px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #bgatas {
    padding-left: 0px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #sectionkelebihan {
    height: 1800px !important;
    margin-top: 60px; }

  #kelebihankami {
    margin-top: 30px !important; }

  #sectionpartner {
    height: 200px !important;
    padding-top: 0px !important; }

  #mozaikkanan {
    display: none; }

  #bgbawahkanan {
    display: none; }

  #testiphoto {
    display: none; }

  #testimoni {
    margin-top: 45px !important;
    height: 500px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }
@media screen and (max-device-width: 375px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #bgatas {
    padding-left: 0px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #sectionkelebihan {
    height: 1800px !important;
    margin-top: 45px; }

  #kelebihankami {
    margin-top: 30px !important; }

  #sectionpartner {
    height: 200px !important;
    padding-top: 0px !important; }

  #mozaikkanan {
    display: none; }

  #bgbawahkanan {
    display: none; }

  #testiphoto {
    display: none; }

  #testimoni {
    margin-top: 45px !important;
    height: 500px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }

/*# sourceMappingURL=responsive.css.map */
